* {
    margin: 0vh;
    padding: 0; 
}

.logo {
	width: 15%;
	height: 20%;
	margin-left: 2vh;
}

.header_text, h1, h2, h4, p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#submit-button {
	margin-top: 1vh;
}

.header_text {
	margin-left: 1vh;
}

header {
    overflow: hidden;
    background-color: #afc97e;
    padding: 1vh 1px;	
}

header a {        
    color: rgb(247, 244, 244);    
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;	
}

.header_text {
	float: left;
	font-size: 20px;
	color: rgb(247, 244, 244);
	text-align: center;
}

header a:hover {
    background-color: #92a968;
    color: rgb(250, 250, 250);
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

footer {
    background-color: #afc97e;
	color: white;    
    text-align: center;
    padding: 1vh;
	margin-top: 1vh;
}

.hero {
    background-image: url("../images/bb.png");
    background-position: 100% 45%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1400px) {
	.hero {
		background-position: 100% 60%;
		background-size: 120%;
	}
	.logo {
		width: 25%;
		height: 35%;
		margin-left: 2vh;
	}
}

@media only screen and (max-width: 500px) {
	.hero {
		background-position: 50% 80%;
		background-size: 150%;
	}
	.logo {
		width: 30%;
		height: 35%;
		margin-left: 2vh;
	}
}

#hero_button {
	background-color: #cf8e80;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

#hero_button:hover {
	background-color: #b07a6d;
}

.information {
    border-radius: 10px;
    padding: 2vh;   	
}

.information_text {
    padding: 1vh;
}

#impression {
    padding: 1vh;
    width: 40vh;
    height: auto;  
    display: block;
    margin-left: auto;
    margin-right: 2vh;
	border-radius: 20px;
}

.carousel {
    width: 50%;
    margin: 0 auto;
}

#booking {
	font-family: 'Source Sans Pro', sans-serif;
	background: rgb(240, 240, 240);	
	margin-bottom: 3vh;	    
}

.booking-form {
	background: rgb(240, 240, 240);		    
}

.booking-form .form-header {
	padding: 15px;
	height: 110px;
	line-height: 110px;
	text-align: center;
}

.booking-form .form-header h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0;
	display: inline-block;
	font-size: 45px;
	color: #cf8e80;
}

.booking-form .form-group {
	position: relative;
	height: 110px;
	padding: 15px 10px;
	margin-bottom: 0px;
}

.booking-form .form-control {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	border-radius: 0px;
	border: none;
	height: 50px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 2px;
	font-size: 28px;
	color: #3c404a;
	font-weight: 700;
	border: 1px solid #a19f9f;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 20px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #818390;
	font-size: 12px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #818390;
	display: block;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	
}

.booking-form .form-btn {
	padding: 15px 10px;
	height: 110px;
}

.booking-form .submit-btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
	background: #cf8e80;
	color: #fff;
	border: none;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	height: 80px;
	width: 100%;
}

.submit-btn:hover {
	background: #b07a6d;
}

#updateBookingModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.644);
}

#updateBookingButton {
	background-color: #b07a6d;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 4px;
}

#updateBookingModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* This will center the div horizontally on the page */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* You can adjust the width of the div here */
}

.crud-button-admin:hover {	
	cursor: pointer;
}

.close:hover {
	cursor: pointer;
}

.margin-top-bottom {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

@media only screen and (max-width: 1400px) {
  iframe {
    width: 100%;
    height: 400px;
  }
}

#login-container {
	border-radius: 10%; 
	border: none; 
	width: fit-content;
}

#submitButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    border-radius: 5px;
	background: #cf8e80;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	display: block;
	margin-top: 1vh;
}